{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    <p>{{ post.content }}</p>
    <p>Créé par {{ post.creator.username }} le {{ post.date|date('d/m/Y H:i:s') }}</p>

    {% if post.comments|length > 0 %}
        <h2>Commentaires</h2>
        <ul>
            {% for comment in post.comments %}
                <li>{{ comment.user }} : {{ comment.text }}</li>
				<li>
				 <form method="post" action="{{ path('report_comment', {'id': comment.id}) }}">
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="text" name="reason" placeholder="Reason for report">
                        <button type="submit">Report</button>
                    </form>
					</li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>

    <h2>Add a comment</h2>

    {% if app.user %}
        {{ form_start(commentForm, {'action': path('add_comment', {'id': post.id})}) }}
            {{ form_widget(commentForm) }}
            <button type="submit">Submit</button>
        {{ form_end(commentForm) }}
    {% else %}
        <p>You must be logged in to add a comment.</p>
    {% endif %}
{% endblock %}