{% extends 'base.html.twig' %}

{% block title %}UEL316 - Actualité{% endblock %}

{% block body %}

    {% if post is empty %}
    <p>Actualité non trouvée avec cet ID.</p>
    {% else %}
        <div class="container w-100">
            <div class="row justify-content-around">

                    <div class="card text-center w-100 mt-4 p-0">
                        <div class="card-header">{{ post.title }}</div>
                            <div class="card-body">

                                <h6 class="card-title text-muted">{{ post.description }}</h6>
                                <p class="card-text">{{ post.content }}</p>

                            </div>
                        <div class="card-footer text-muted">Créé par {{ post.creator.username }} le {{ post.date|date('d/m/Y à H:i:s') }} par {{ post.creator.username }}</div>
                    </div>

                <div class="card text-left w-100 mt-4 p-0">
                    <div class="card-header">Commentaires ({{ post.comments.count }})</div>
                        <div class="card-body">
                    {% for comment in post.comments %}
                        <h6 class="card-title text-muted pb-0 mb-0 mt-2"><b class="fs-4">{{ comment.text }}</b> de {{ comment.user.username }}</h6>
                        <a class="pt-0 mt-0" href={{ path('app_report', {'id':comment.id}) }}>Signaler ({{ comment.reports.count }})</a>
                    {% endfor %}
                    </div>
                </div>


                <div class="card text-center w-100 mt-4 p-0 mb-4">
                    <div class="card-header">Ajouter un commentaire</div>
                    <div class="card-body">
                    {% if user %}
                        {{ form_start(commentForm, {'action': path('add_comment', {'id': post.id})}) }}
                            {{ form_widget(commentForm.text) }}
                            <button type="submit">Envoyer</button>
                        {{ form_end(commentForm) }}
                    {% else %}
                        <h6 class="card-title text-muted">Tu dois être connecté(e) pour ça!</h6>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
